* {
  margin: 0;
  padding: 0;
}

.container {
  height: 500px;
  background-color: aqua;
  margin: 0 50px;
  background-image: url("../../../starter-code/assets/home/desktop/image-hero-coffeepress.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.title-about {
  margin-left: 60px;
}

.title-about h1 {
  margin-bottom: 20px;
  font-family: "Fraunces", serif;
  font-size: 72px;
  color: #ffffff;
}

.title-about p {
  color: #83888f;
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.title-about button {
  background-color: #0e8784;
  width: 217px;
  height: 56px;
  border: none;
  border-radius: 10px;
  font-family: "Fraunces", serif;
  font-size: 18px;
  color: #ffffff;
}

.title-about button:hover {
  background-color: #66d2cf;
}
